[submodule "tools/clang-tools-extra"]
	path = tools/clang-tools-extra
	url = https://github.com/llvm-mirror/clang-tools-extra.git
[submodule "tools/extra"]
	path = tools/extra
	url = https://github.com/luminartech/clang-tools-extra.git
